torch==2.11.0
numpy==2.3.5
pybind11==3.0.4
setuptools==80.10.2
wheel==0.47.0
vllm==0.23.0
transformers==5.12.1
matplotlib==3.11.0
tqdm==4.68.3
pytest==9.1.1
safetensors==0.8.0
tokenizers==0.22.2
flashinfer-python==0.6.12
